
#welcome {
  color: white;
}


body {  
  background-color: black;
  height: 100vh;  
}

#left-panel {
  position: fixed;
  top: 0;
  height: 100vh;
  background-image: url("music.jpg");
  background-size: cover;
  background-repeat: no-repeat;    
}

.flexbox {
  display: flex;
  justify-content: center
}

.form-group {
  border: 1px solid #325d88;  
  border-radius: 10px;
  background-color: #d3d3d0
}

.card-header, .card-footer {
  color: white;
  background: #325d88
}

.card-title {
  cursor: pointer;
}

audio {
  width: 90%;   
}

@media screen and (max-width: 768px) {
  .song-card {
    position: relative;
    z-index: 0;
    padding-top: 230px;    
  }

  .card {
    z-index: auto;
    position: relative;
  } 

  #control-panel {
    position: fixed;
    z-index: 10
  }
  
}


