
#welcome {
  color: white;
}

body {
  background-image: url("music5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
  /* min-height: 25vh; */
}

.flexbox {
  display: flex;
  justify-content: center
}

.form-group {
  border: 1px solid #325d88;  
  border-radius: 10px;
  background-color: #d3d3d0
}

main {
  background-color: rgb(37, 34, 34);
}

.card-header, .card-footer {
  color: white;
  background: #325d88
}

audio {
  width: 90%;  
}



/* 
* {
  outline: 1px solid red;
} */

  